@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.bg-color {
  /* background-color: #404eed; */

  

  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);


  

}

.bg-color-win {

  background-color: #00b712; 
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);

}

.bg-color-loss{

background-color: #ee9617;
background-image :linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

}

header {
  width: 80%;
  color: #ffffff;
  padding: 1rem;
  padding-bottom: 2.5rem;
  margin: 0 10%;
  border-bottom: #23272a 0.5rem solid;
  border-top: #23272a 0.5rem solid;
}

nav {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #23272a;
  border: none;
  border-radius: 1rem;

}

.btn:hover {
  cursor: pointer;

  color: #ffffff;

  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

nav p {
  font-size: 1.3rem;
  font-weight: bold;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.number {
  background-color: #e6e6e6;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  color: #23272a;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 1rem;

  display: flex;

  justify-content: center;

  border-bottom: #23272a 0.5rem solid;
  border-top: #23272a 0.5rem solid;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  padding-left: 2rem;
}

.guess {
  text-align: center;
  width: 8rem;
  height: 8rem;
  border: none;
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: 800;
  border: 0.3rem solid black;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 3rem;
}

.right h2 {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1;
}

.right p {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  text-align: center;
  color: grey;

  background-color: #23272a;
  color: #ffffff;
  width: 80%;

  margin: 0 auto;
  padding: 3rem 1rem;
  border-bottom: #23272a 1rem solid;
  border-top: #23272a 0.5rem solid;
}

footer p{
  margin-bottom: 1rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  background-color: #9921e8;
  border-radius: 1rem;
}

footer a:hover {
  
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

@media (max-width: 45rem) {
  header {
    width: 100%;
    height: 35%;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  nav p {
    font-size: 1rem;
  }

  header h1 {
    font-size: 2rem;
  }

  .number {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    /* margin-bottom: 3rem; */
  }

  main {
    width: 100%;
    padding: 3rem 0.5rem;
    margin: 0 auto;
  }

  .left {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .guess {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }

  .right {
    justify-content: center;
    gap: 1rem;
  }

  .right h2 {
    font-size: 1.8rem;
    line-height: 1.4rem;
  }

  .right p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  footer {
    width: 100%;
    padding: 3rem 0.5rem;
    margin: 0 auto;
  }
}
